.container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: dense;
	grid-gap: 20;
	border-bottom: 2px solid black;
}

.container p {
	transition: 1s ease-in-out;
	transform-origin: center;
	padding: 5px;
	text-align: center;
}
.container p:hover {
	color: rgba(0, 0, 0, 0.7);
}
